#goods
{
    
}
.good
{
    width:10%;
    height:100px;
    float:left;
    border:1px solid black;
    margin:5px;
    padding:5px;
}
.button_add_to_cart
{
    color:red;
    text-decoration: underline;
}
.good_rating
{
    color:blue;
}
.button_show_cart a
{
    color:green;
    text-decoration: underline;
    float:left;
}
.button_show_cart
{
    float:right;
    margin-right:100px;
}
.button_pay a
{
    float:left;
}
#main_page_link
{
    color:red;
}
#pay_amount_label
{
    float:left;
}
#pay_amount
{
    float:left;
}